<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h4>Lista Técnicos</h4>
            
            {{#each tecnicos}}
                <div class="card mt-2">
                    <div class="card-body row">
                        <div class="col">
                            <strong>Técnica(o)</strong> {{tecnico}}</p>
                        </div>
                        <div class="col text-right my-auto">
                            <form action="/rem-tecnico-db" method="POST">
                                <input type="hidden" name="id" value="{{_id}}">
                                <button class="btn btn-danger" type="submit">Remover</button>
                            </form>
                        </div>                        
                    </div>
                </div>
            {{else}}    
                <div class="card mt-2">
                    <div class="card-body">
                        <h5>Não há técnicos para serem exibidos!</h5>
                    </div>
                </div>
            {{/each}} 

        </div>    
    </div>
</div>