<div class="row bar-top">
    <div class="col-4"></div>
    <div class="col-4 text-center">
        <img src="/img/senac-logo.jpg" alt="Logo do Senac" width="30%" class="mt-4 mb-4">
    </div>
    <div class="col-4"></div>
</div>