<h4 class="mt-4">Login: </h4>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="POST">
            <div class="row">
                <div class="col">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control" name="email" id="email" required>        
                </div>
            </div>    
            <div class="row">
                <div class="col">
                    <label for="senha">Senha: </label>
                    <input type="password" name="senha" id="senha" class="form-control" required>
                </div>
            </div>            
            <div class="row">
                <div class="col mt-4 text-right">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
            </div>            
        </form>
    </div>
</div>
